* {
    margin: 0;
    padding: 0;
}

.nav {
    width: 75%;
    height: 50px;
    background-color: #312046;
    color: white;
    font-size: 15px;
    margin: 0 auto;
}

.nav_div {
    width: 70%;
    height: 50px;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.nav_item {
  color: #ffffff;
  font-size: 18px; 
  text-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

.logo {
    font-weight: 900;
    margin-left: -100px;
}

.ul {
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
}

.profile {
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile>img {
    width: 200px;
    height: 220px;
}

.qqk {
    width: 40%;
    height: 220px;
}

.topics {
    width: 33%;
    height: 220px;
}

.qqk>h1 {
    font-size: 28px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3d225e;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.qqk>p {
    font-size: 16px;
    line-height: 150%;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}
.qqk>a {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}
.qqk>p:nth-child(5) {
    margin-bottom: 20px;
}


a {
    color: #4257C0;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.topics>h4 {
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    margin-top: 10px;
    color: #3d225e;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.topics_ul {
    width: 90%;
    margin-left: 10%;
}

.topics_ul>li {
    line-height: 150%;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

.ps {
    width: 70%;
    margin-left: 15%;
    height: 60px;
    font-size: 16px;
    /*font-weight: 600;*/
    line-height: 150%;
}

.ps p {
    word-break: keep-all;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}
.red {
    color: red;
}

.section {
    width: 70%;
    margin-left: 15%;
    /*font-size: 14.5px;*/
    /*font-weight: 600;*/
    margin-bottom: 40px;
    margin-top: 20px;
}
.section>h3 {
    color: #3d225e;
    /*font-weight: normal;*/
    font-size: 20px;
    margin-bottom: 20px;
}
.section>h2 {
    color: #3d225e;
    /*font-weight: normal;*/
    font-size: 20px;
    margin-bottom: 18px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.section p {
    text-indent: 4em;
    margin-left: : 100px
    font-weight: normal;


}
.section_ul {
    width: 90%;
    margin-left: 3%;
    margin-bottom: 10px;
}

.section_ul>li {
    line-height: 150%;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.08);
}
.section_ul b {
    color: #3d225e;
}
.section_ul br {
    line-height: 20px;
}
.section_ul p {
    text-indent: 0em;
    margin-bottom: 10px;
}

.pub_ul {
    width: 90%;
    margin-left: 3%;
    margin-bottom: 10px;
}

.pub_ul>li {
    line-height: 150%;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.pub_ul b {
    color: #3d225e;

}
.pub_ul br {
    line-height: 20px;

}

.display {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
}

.Yin {
    width: 150px;
    margin-left: 2%;
}

.Kin {
    width: 300px;
    margin-left: 2%;
}

.foo {
    width: 70%;
    margin-left: 5%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    align-items: flex-start;
    margin-bottom: 20px;
}

.foo>img {
    width: 250px;
    height: 120px;
    margin-right: 40px; 
}

.foo_right {
    width: 65%;
    height: 120px;
    font-size: 14.5px
}

.foo_right>p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.foo_right>h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

hr {
  border-width: 1px;
  width: 1120px;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
} 

h3 {
    margin-bottom: 20px;
}
h2 {
    margin-bottom: 20px;
}
#footer {
  display: flex;
  justify-content: center;
  /*margin-left:600px;*/
}